/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


// for destop css
body {
  font-family: "Heiti SC Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  .container.wrapper {

    //common ui 
    width: 70%;
    h1 { font-size: 56px; }

    a.rss{
      padding: 2px 22px 2px 0;
      margin: -2px 0;
      background-repeat: no-repeat;
      background-position: right center;
      background-image: url(asset-path('feed.png'));
    }

    header{
      a { 
        color: #000;
        text-decoration: none;
      }
      margin: 30px 0 25px;
      position: relative;

      .left {
        #logo{
          background-repeat: no-repeat;
          background-position: top left;
          float: left;
          height: 120px;
          width: 120px;
          margin-top: 20px;
        }
      }
     
      .right{
        form{
          width: 100%;
          float: left;
          .form-group{
            margin-left: 0px;
            label{
              display: block;
              float: left;
              margin-right: 10px;
              margin-top:5px;  //by unkeltao
            }
            .email{
              float: left;
              margin-right: 8px;
            }
            .submit{
              float: left;
              button{
                font-size: 14px;  //by unkeltao, 12px
                padding: 2px 6px;
                margin-top: 7px;  //by unkeltao, 6px
              }
            }
            input[type='email']{
              height: 30px;  // by unkeltao, 20px
              margin-top: 5px; //by unkeltao, 8px
            }
          }
        }
      }
    }

    #main-box{
      background: #fdfefe url(asset-path('paper-edge.png')) right top repeat-y;
      margin-bottom: 40px;
      #main-box-inner {
        background: url(asset-path('paper-crease.png')) right bottom no-repeat;
        padding: 20px 20px 63px;
        position: relative;

        #error_explanation{
          padding-bottom: 10px;
          li{ margin-bottom: 5px; }
        }
        .field_with_errors { display: inline; }

        .pagetitle{
          border-bottom: 1px solid #e6ebec;
          margin: 1em 0 1.4em;
          padding-bottom: 0.6em;
          font-family: Verdana, Geneva, sans-serif;
          font-size: 150%;
        }
        .post-job {
          margin: 20px;
          a{
            float: right
          }
        }

        .joblist {
          width: 100%;
          th {
            border-bottom: 3px solid #d2d8d9;
            padding-bottom: 0.7em;
            font-size: 116%;
            text-align: left;
          }
          td {
            border: 0;
            border-bottom: 1px solid #e6ebec;
            padding: 1em 0.5em;
          }
        } 

        .job-content{
          .date{
            font-weight: bold;
            color: #969696;
          }
        }
      }
    }
  }

  // hide baidu statistics image
  img[border="0"]{display:none;}
 }

// for destop css
body.desktop {
  .container.wrapper {
    #main-box{
      form {
        position: relative;
        margin-right: 40px;
        .field{
          padding: 0 0 20px 170px;
          position: relative;
        }
        .reset{
          margin-right: 20px;
        }
        .reset label {
          top: 3px;
        }
        label{
          width: 150px;
          position: absolute;
          margin-right: 20px;
          text-align: right;
          font-weight: 100;
          font-size: 14px;
          left: 0;
          top: 6px;
        }

        label.inline{
          position: static;
          width: auto;
        }

        input[type='text']{
          width: 280px;
        } 

        textarea.text {
          width: 520px;
          height: 100px;
        }

        .text{
          background: #fff;
          border: 1px solid #ddd;
          border-top: 1px solid #888;
          padding: 5px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
        }

        .actions{
          input[type='submit'] {
            font-weight: 100;
            -moz-border-radius: 15px;
            -webkit-border-radius: 15px;
            border-radius: 15px;
            font-weight: 100;
            font-size: 14px;
          }
        }
      }

      .job-content{
        .job-title{
          margin-left: 12px;
          padding-bottom: 10px;
        }
        .job-info{
          margin-top: 20px;
        }

        .job-description{
          margin-left: 70px;
          line-height: 28px;
        }
        .job-applyinformation{
          margin-top: 10px;
        }
        .row {
          margin: 10px 0px;
        }
        a.back{
          margin-left: 12px;
        }
        .jiathis_style{
          float: right;
        }
      }
    }
  }
 }

// for mobile device css
body.mobile {
  .container.wrapper {
    width: 90%;
    h1 {
      font-size: 40px;
    }

    h3{
      font-size: 18px;
    }

    h4{font-size: 16px; }

    p {
      font-size: 10px;
    }

    header {
      .left{
        #logo{
          display: none;
        }
      }
     
      .right form{
        label{
          // font-weight: 100;
          // font-size: 10px;
          // padding-top: 8px;
          display: none;
        }
        .email{
          float: left;
          margin: 0px;
          width: 90%;

        }
        .submit{
          float: left;
          margin-top: 8px;
          button{
            font-size: 10px;
          }
        }
      }
    } 

    #main-box{
      #main-box-inner {
        .post-job {
          margin: 0px;
          a{
            float: right
          }
        }

        .joblist {
          width: 100%;
          th {
            font-size: 100%;
            font-weight: 100;
          }
          td {
            font-size: 80%;
            border: 0;
            border-bottom: 1px solid #e6ebec;
            padding: 1em 0.5em;
          }
        } 

        .job-content{
          font-size: 10px;
        }
        .col-xs-12{
          margin-bottom: 8px;
        }

        .job-description{
          margin-top: 8px;
        }
        .job-applyinformation{
          margin-top: 8px;
        }
      }
    }
  }   
 }
